
<div>
<mat-list-item *ngFor="let asset of allAssets">
	<mat-card class="example-card">

		<body>
			<h1>Contract ID: {{asset.contractID}}</h1>
			<h2>Contract State: {{asset.state}}</h2>
			<p>owner: {{asset.owner}}</p>
			<p>oil lot: {{asset.oilLot}}</p>
			<p>trade agreement: {{asset.tradeAgreement}}
				<button mat-flat-button (click)=getSubcontract(asset.tradeAgreement) >View Contract</button>
					<mat-list-item *ngFor="let asset of subContracts">
						<mat-card class="example-card">
								<h1>Agreement ID: {{asset.agreementID}}</h1>
								<h2>Contract State: {{asset.state}}</h2>
								<p>Terms and Conditions: {{asset.terms}}</p>
								<p>buyer: {{asset.buyer}}</p>
								<p>buyer: {{asset.seller}}</p>
						</mat-card>
					</mat-list-item>
			</p>

		</body>

		<mat-horizontal-stepper [linear]="isLinear" #stepper>
				<mat-step [stepControl]="firstFormGroup">
					<ng-template matStepLabel>Contract is Active</ng-template>
				</mat-step>
				<mat-step [stepControl]="secondFormGroup">
					<ng-template matStepLabel>Lot Shipped</ng-template>
				</mat-step>
				<mat-step>
					<ng-template matStepLabel>Lot in Customs</ng-template>
					<p>You are now done.</p>
				</mat-step>
			</mat-horizontal-stepper>

	</mat-card>
</mat-list-item>
</div>
